<header tituloPagina="Clases"></header>


<ion-content>

   

  <div class="container" style="margin-bottom: 40px">
    <div class="accordion" id="accordionExample">

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button"
            style="border-left: 5px solid #4a83fd"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            <strong>Lunes</strong>
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-2">
                  <img
                    src="assets/arte.png"
                    class="img-fluid rounded-start"
                    style="
                      display: block;
                      margin-left: auto;
                      margin-right: auto;
                      width: 50%;
                      margin-top: 5%;
                    "
                  />
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <h5 class="card-title">Arte</h5>
                    <p class="card-text">Curso: 1ro Basico</p>
                    <p class="card-text">
                      <small class="text-muted">8:00 - 9:30</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-2">
                  <img
                    src="assets/biologia.png"
                    class="img-fluid rounded-start"
                    style="
                      display: block;
                      margin-left: auto;
                      margin-right: auto;
                      width: 50%;
                      margin-top: 5%;
                    "
                  />
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <h5 class="card-title">Biología</h5>
                    <p class="card-text">Curso: 2do Basico</p>
                    <p class="card-text">
                      <small class="text-muted">9:31 - 11:00</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-2">
                  <img
                    src="assets/filosofia.png"
                    class="img-fluid rounded-start"
                    style="
                      display: block;
                      margin-left: auto;
                      margin-right: auto;
                      width: 50%;
                      margin-top: 5%;
                    "
                  />
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <h5 class="card-title">Filosofía</h5>
                    <p class="card-text">Curso: 5to Basico</p>
                    <p class="card-text">
                      <small class="text-muted">12:15 - 13:00</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-2">
                  <img
                    src="assets/fisica.png"
                    class="img-fluid rounded-start"
                    style="
                      display: block;
                      margin-left: auto;
                      margin-right: auto;
                      width: 50%;
                      margin-top: 5%;
                    "
                  />
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <h5 class="card-title">Física</h5>
                    <p class="card-text">Curso: 5to</p>
                    <p class="card-text">
                      <small class="text-muted">13:15 - 14:00</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button
            class="accordion-button collapsed"
            style="border-left: 5px solid #4a83fd"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            <strong>Martes</strong>
          </button>
        </h2>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-2">
                  <img
                    src="assets/geografia.png"
                    class="img-fluid rounded-start"
                    style="
                      display: block;
                      margin-left: auto;
                      margin-right: auto;
                      width: 50%;
                      margin-top: 5%;
                    "
                  />
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <h5 class="card-title">Geografía</h5>
                    <p class="card-text">Curso: 5to Basico</p>
                    <p class="card-text">
                      <small class="text-muted">10:00 - 11:00</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-2">
                  <img
                    src="assets/historia.png"
                    class="img-fluid rounded-start"
                    style="
                      display: block;
                      margin-left: auto;
                      margin-right: auto;
                      width: 50%;
                      margin-top: 5%;
                    "
                  />
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <h5 class="card-title">Historia</h5>
                    <p class="card-text">Curso: 3ro Basico</p>
                    <p class="card-text">
                      <small class="text-muted">11:15 - 12:00</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-2">
                  <img
                    src="assets/informatica.png"
                    class="img-fluid rounded-start"
                    style="
                      display: block;
                      margin-left: auto;
                      margin-right: auto;
                      width: 50%;
                      margin-top: 5%;
                    "
                  />
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <h5 class="card-title">Informática</h5>
                    <p class="card-text">Curso: 3ro Basico</p>
                    <p class="card-text">
                      <small class="text-muted">12:15 - 13:00</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-2">
                  <img
                    src="assets/ingles.png"
                    class="img-fluid rounded-start"
                    style="
                      display: block;
                      margin-left: auto;
                      margin-right: auto;
                      width: 50%;
                      margin-top: 5%;
                    "
                  />
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <h5 class="card-title">Inglés</h5>
                    <p class="card-text">Curso: 2ro Basico</p>
                    <p class="card-text">
                      <small class="text-muted">13:15 - 14:00</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="heading3">
          <button
            class="accordion-button collapsed"
            style="border-left: 5px solid #4a83fd"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse3"
            aria-expanded="false"
            aria-controls="collapse3"
          >
            <strong>Miércoles</strong>
          </button>
        </h2>
        <div
          id="collapse3"
          class="accordion-collapse collapse"
          aria-labelledby="heading3"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-2">
                  <img
                    src="assets/lectura.png"
                    class="img-fluid rounded-start"
                    style="
                      display: block;
                      margin-left: auto;
                      margin-right: auto;
                      width: 50%;
                      margin-top: 5%;
                    "
                  />
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <h5 class="card-title">Lectura</h5>
                    <p class="card-text">Curso: 1ro Basico</p>
                    <p class="card-text">
                      <small class="text-muted">10:00 - 11:00</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-2">
                  <img
                    src="assets/matematicas.png"
                    class="img-fluid rounded-start"
                    style="
                      display: block;
                      margin-left: auto;
                      margin-right: auto;
                      width: 50%;
                      margin-top: 5%;
                    "
                  />
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <h5 class="card-title">Matemáticas</h5>
                    <p class="card-text">Curso: 2ro Basico</p>
                    <p class="card-text">
                      <small class="text-muted">11:15 - 12:00</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-2">
                  <img
                    src="assets/quimica.png"
                    class="img-fluid rounded-start"
                    style="
                      display: block;
                      margin-left: auto;
                      margin-right: auto;
                      width: 50%;
                      margin-top: 5%;
                    "
                  />
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <h5 class="card-title">Química</h5>
                    <p class="card-text">Curso: 3ro Basico</p>
                    <p class="card-text">
                      <small class="text-muted">12:15 - 13:00</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-2">
                  <img
                    src="assets/religion.png"
                    class="img-fluid rounded-start"
                    style="
                      display: block;
                      margin-left: auto;
                      margin-right: auto;
                      width: 50%;
                      margin-top: 5%;
                    "
                  />
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <h5 class="card-title">Religión</h5>
                    <p class="card-text">Curso: 1ro Basico</p>
                    <p class="card-text">
                      <small class="text-muted">13:15 - 14:00</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="heading4">
          <button
            class="accordion-button collapsed"
            style="border-left: 5px solid #4a83fd"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse4"
            aria-expanded="false"
            aria-controls="collapse4"
          >
            <strong>Jueves</strong>
          </button>
        </h2>
        <div
          id="collapse4"
          class="accordion-collapse collapse"
          aria-labelledby="heading4"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-2">
                  <img
                    src="assets/historia.png"
                    class="img-fluid rounded-start"
                    style="
                      display: block;
                      margin-left: auto;
                      margin-right: auto;
                      width: 50%;
                      margin-top: 5%;
                    "
                  />
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <h5 class="card-title">Historia</h5>
                    <p class="card-text">Curso: 5to Basico</p>
                    <p class="card-text">
                      <small class="text-muted">10:00 - 11:00</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-2">
                  <img
                    src="assets/geografia.png"
                    class="img-fluid rounded-start"
                    style="
                      display: block;
                      margin-left: auto;
                      margin-right: auto;
                      width: 50%;
                      margin-top: 5%;
                    "
                  />
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <h5 class="card-title">Geografía</h5>
                    <p class="card-text">Curso: 5to Basico</p>
                    <p class="card-text">
                      <small class="text-muted">11:15 - 12:00</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-2">
                  <img
                    src="assets/fisica.png"
                    class="img-fluid rounded-start"
                    style="
                      display: block;
                      margin-left: auto;
                      margin-right: auto;
                      width: 50%;
                      margin-top: 5%;
                    "
                  />
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <h5 class="card-title">Física</h5>
                    <p class="card-text">Curso: 2do Basico</p>
                    <p class="card-text">
                      <small class="text-muted">12:15 - 13:00</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-2">
                  <img
                    src="assets/biologia.png"
                    class="img-fluid rounded-start"
                    style="
                      display: block;
                      margin-left: auto;
                      margin-right: auto;
                      width: 50%;
                      margin-top: 5%;
                    "
                  />
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <h5 class="card-title">Biología</h5>
                    <p class="card-text">Curso: 3ro Basico</p>
                    <p class="card-text">
                      <small class="text-muted">13:15 - 14:00</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="heading5">
          <button
            class="accordion-button collapsed"
            style="border-left: 5px solid #4a83fd"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse5"
            aria-expanded="false"
            aria-controls="collapse5"
          >
            <strong>Viernes</strong>
          </button>
        </h2>
        <div
          id="collapse5"
          class="accordion-collapse collapse"
          aria-labelledby="heading5"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-2">
                  <img
                    src="assets/informatica.png"
                    class="img-fluid rounded-start"
                    style="
                      display: block;
                      margin-left: auto;
                      margin-right: auto;
                      width: 50%;
                      margin-top: 5%;
                    "
                  />
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <h5 class="card-title">Informática</h5>
                    <p class="card-text">Curso: 5to Basico</p>
                    <p class="card-text">
                      <small class="text-muted">10:00 - 11:00</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-2">
                  <img
                    src="assets/ingles.png"
                    class="img-fluid rounded-start"
                    style="
                      display: block;
                      margin-left: auto;
                      margin-right: auto;
                      width: 50%;
                      margin-top: 5%;
                    "
                  />
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <h5 class="card-title">Inglés</h5>
                    <p class="card-text">Curso: 2do Basico</p>
                    <p class="card-text">
                      <small class="text-muted">11:15 - 12:00</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-2">
                  <img
                    src="assets/lectura.png"
                    class="img-fluid rounded-start"
                    style="
                      display: block;
                      margin-left: auto;
                      margin-right: auto;
                      width: 50%;
                      margin-top: 5%;
                    "
                  />
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <h5 class="card-title">Lectura</h5>
                    <p class="card-text">Curso: 2do Basico</p>
                    <p class="card-text">
                      <small class="text-muted">12:15 - 13:00</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-2">
                  <img
                    src="assets/quimica.png"
                    class="img-fluid rounded-start"
                    style="
                      display: block;
                      margin-left: auto;
                      margin-right: auto;
                      width: 50%;
                      margin-top: 5%;
                    "
                  />
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <h5 class="card-title">Química</h5>
                    <p class="card-text">Curso: 4to Basico</p>
                    <p class="card-text">
                      <small class="text-muted">13:15 - 14:00</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>