<ion-header>
  <ion-toolbar>
    <ion-title>notas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container">

  <ion-card class="ion-card">
    <ion-card-header class="ion-card-header">
      <!--<ion-card-subtitle>Card Subtitle</ion-card-subtitle>-->
      <div class="title_container-div">      
        <ion-card-title>Lenguaje</ion-card-title>
      </div>

    </ion-card-header>

    <ion-card-content>
      <table>
        <tr>
          <td>
            Nota 1
          </td>
          <td>
            6.0
          </td>
        </tr>
        <tr>
          <td>
            Nota 2
          </td>
          <td>
            6.0
          </td>
        </tr>
        <tr>
          <td>
            Nota 3
          </td>
          <td>
            6.0
          </td>
        </tr>
        <tr>
          <td>
            Promedio
          </td>
          <td>
            6.0
          </td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>
  
  <!--FIN LENGUAJE -->
  <ion-card class="ion-card">
    <ion-card-header class="ion-card-header">
      <!--<ion-card-subtitle>Card Subtitle</ion-card-subtitle>-->
      <div class="title_container-div">      
        <ion-card-title>Matematicas</ion-card-title>
      </div>

    </ion-card-header>

    <ion-card-content>
      <table>
        <tr>
          <td>
            Nota 1
          </td>
          <td>
            6.0
          </td>
        </tr>
        <tr>
          <td>
            Nota 2
          </td>
          <td>
            6.0
          </td>
        </tr>
        <tr>
          <td>
            Nota 3
          </td>
          <td>
            6.0
          </td>
        </tr>
        <tr>
          <td>
            Promedio
          </td>
          <td>
            6.0
          </td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>
  
  <!--FIN LENGUAJE -->
  <ion-card class="ion-card">
    <ion-card-header class="ion-card-header">
      <!--<ion-card-subtitle>Card Subtitle</ion-card-subtitle>-->
      <div class="title_container-div">      
        <ion-card-title>Historia</ion-card-title>
      </div>

    </ion-card-header>

    <ion-card-content>
      <table>
        <tr>
          <td>
            Nota 1
          </td>
          <td>
            6.0
          </td>
        </tr>
        <tr>
          <td>
            Nota 2
          </td>
          <td>
            6.0
          </td>
        </tr>
        <tr>
          <td>
            Nota 3
          </td>
          <td>
            6.0
          </td>
        </tr>
        <tr>
          <td>
            Promedio
          </td>
          <td>
            6.0
          </td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>
  
  <!--FIN LENGUAJE -->
  <ion-card class="ion-card">
    <ion-card-header class="ion-card-header">
      <!--<ion-card-subtitle>Card Subtitle</ion-card-subtitle>-->
      <div class="title_container-div">      
        <ion-card-title>Ingles</ion-card-title>
      </div>

    </ion-card-header>

    <ion-card-content>
      <table>
        <tr>
          <td>
            Nota 1
          </td>
          <td>
            6.0
          </td>
        </tr>
        <tr>
          <td>
            Nota 2
          </td>
          <td>
            6.0
          </td>
        </tr>
        <tr>
          <td>
            Nota 3
          </td>
          <td>
            6.0
          </td>
        </tr>
        <tr>
          <td>
            Promedio
          </td>
          <td>
            6.0
          </td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>
  
  <!--FIN LENGUAJE -->
</ion-content>
