<ion-header>
  <ion-toolbar>
    <ion-title>Informacion</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Prueba Matematica</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Estimados estudiantes preparense para la prueba entrara contenido de la unidad 1 y 2 ademas de lo visto en clases la prueba se realizara el dia 11/06/22 
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Prueba Lenguaje</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Estimados estudiantes la prueba entrara todo el contenido de la unidad 5 ademas de lo visto en clases la prueba se realizara el dia 15/07/22 
    </ion-card-content>
  </ion-card>

</ion-content>
