<ion-header>
  <ion-toolbar>
    <ion-title>mandar-correo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!---->

  <div class="Info">
    <ion-text color="">
      <h3>Envia mensajes a los apoderados</h3>
    </ion-text>
  </div>

  <div class="form_container-div">
    <div class="">
      <ion-label color="">Curso</ion-label>
      <ion-select class="custom-options">
        <ion-select-option value="primero ">1ro Basico</ion-select-option>
        <ion-select-option value="segundo">2do Basico</ion-select-option>
        <ion-select-option value="tercero">3ro Basico</ion-select-option>
        <ion-select-option value="cuarto">4to Basico</ion-select-option>
      </ion-select>
      <ion-label color="">Asunto</ion-label>
      <ion-input class="asunto" placeholder="Ingresa asunto..." ></ion-input>
      <ion-label color="">Mensaje</ion-label>
      <ion-textarea class="mensaje" placeholder="Ingrese el mensaje..."></ion-textarea>
    </div>
    <ion-button expand="block">Enviar</ion-button>
  </div>
  
</ion-content>
