<ion-header>
  <ion-toolbar>
    <ion-title>horario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p class="ion-text-capitalize ion-padding-start">nombre alumno</p>
  <p class="ion-text-capitalize ion-padding-start">Año | Curso</p>

  <ion-card button="true" class="tarjeta-horario">
    <ion-card-header>
      <ion-card-title>Lunes</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      17:00 - 18:00 Gestión Agil <br>
      18:01 - 19:00 Otro ramo
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Martes</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      17:00 - 18:00 Gestión Agil
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Miércoles</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      17:00 - 18:00 Gestión Agil
    </ion-card-content>
  </ion-card>

</ion-content>
