ion-toolbar {
  --background: #0077b6;
  --min-height: 70px;


  ion-title {
    color: white;
    font-size: 20px;
  }
}




ion-card-title {
  font-size: 20px;
}

ion-checkbox {
  --background-checked: #0077b6;
}

.contenedor-labels {
  padding: 1rem 3rem;

  .label-clase {
    font-size: 20px;
    font-weight: 600;
  }
  
  .label-fecha {
    font-size: 16px;
    font-weight: 300;
    color: #666666;
  }
}

.label-campo {
  font-weight: 600;
}

ion-button {
  margin-top: 30px;
  margin-bottom: 30px;
  margin: 10px;
  border-radius: 8px;
  display: block;
  width: 300px;
  margin : 20px auto;
}

.item-asistencia{
  padding: 2rem;
}