<header tituloPagina="Mensajes"></header>

<ion-content>

  <ion-grid fixed class="ion-no-padding contenedor-mensajes">

    <ion-row>
      <ion-col size="12">
        <ion-label class="label-titulo">¡Comunícate con un profesor!</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-label class="descripcion">Escoge un Profesor</ion-label>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none" class="item">
          <ion-label>Profesor</ion-label>
          <ion-select ok-text="Seleccionar" cancel-text="Cancelar">
            <ion-select-option value="Ramón Salazar">Ramón Salazar</ion-select-option>
            <ion-select-option value="Germán Garmendia">Germán Garmendia</ion-select-option>
            <ion-select-option value="Dylan Silva">Dylan Silva</ion-select-option>
            <ion-select-option value="Alexis Sánchez">Alexis Sánchez</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-label class="descripcion">Detalla el Asunto de tu Mensaje</ion-label>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none" class="item">
          <ion-input maxlength="30" placeholder="Asunto..."></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-label class="descripcion">Escribe tu Mensaje</ion-label>
      </ion-col>
      <ion-col size="12"></ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-textarea maxlength="768" clearOnEdit="false" rows="14" autoGrow="false" placeholder="Mensaje..."></ion-textarea>
        </ion-item>        
      </ion-col>
    </ion-row>

    <ion-row class="contenedor-botones ion-align-items-end">
      <ion-col size="4">
        <ion-button expand="full">
          <ion-icon name="attach-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="full">
          <ion-icon name="images-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button (click)="enviar()" expand="full">Enviar</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
